.Landing_crawl {
  width: 100%;
  background-color: lightblue;
}

.Landing_h2 {
  font-size: 100px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.Landing_p {
  font-size: 60px;
}

.crawler {
  background: transparent !important;
}

.crawler div {
  background: transparent !important;
  min-height: 40vh !important;
}