output {
  grid-area: output;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 5px 20px;
}

.p_add-favorite {
  font-size: 42px;
  font-family: 'STARWARS';
  color: #FFF;
}

.link {
  text-decoration: none;
  color: black;
}


