* {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 6fr;
  grid-template-areas:
    "nav header"
    "nav output";
    height: 100vh;
}

.App-header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
